@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/PlusJakartaSans-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/PlusJakartaSans-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --color-indigo: 252deg 66% 62%;
    --color-orange: 28deg 89% 67%;
    --color-pink: 0deg 78% 79%;
    --color-red: 7deg 77% 66%;
    --color-teal: 172deg 46% 57%;
    --color-violet: 314deg 45% 23%;
    --color-black: 0deg 0% 1%;
    --color-gray: 30deg 5% 45%;
    --color-white: 28deg 100% 97%;
  }

  body {
    @apply bg-white font-sans text-base font-medium text-white md:text-base-tablet;
  }
  h1 {
    @apply text-h1 font-bold md:text-h1-tablet xl:text-h1-desktop;
  }
  h2 {
    @apply text-h2 font-bold md:text-h2-tablet xl:text-h2-desktop;
  }
  h3 {
    @apply text-h3 font-bold md:text-h3-tablet;
  }
  button {
    @apply text-btn text-white md:text-btn-lg;
  }
}

@layer utilities {
  .logo {
    @apply flex h-12 w-12 items-center justify-center bg-black text-white md:h-16 md:w-16;
  }
  .btn {
    @apply rounded-full px-x py-y md:px-x-md md:py-y-md;
  }
  .btn-primary {
    @apply btn bg-black hover:bg-indigo;
  }
  .btn-secondary {
    @apply btn bg-red hover:bg-orange;
  }
  .btn-arrow {
    @apply flex h-16 w-16 text-black hover:text-indigo;
  }
}
